{{ define "main" }}
<main>
  {{ if eq .Kind "term" }}
  {{ $term := lower .Data.Term }}
  {{ $taxonomy := .Data.Plural }}
  {{ $display := .Data.Term }}
  {{ range first 1 .Pages }}
    {{ range index .Params $taxonomy }}
      {{ if eq (lower .) $term }}
        {{ $display = . }}
      {{ end }}
    {{ end }}
  {{ end }}
  <h1>{{ $display }}</h1>
  <ul>
    {{ range .Pages }}
    <li><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></li>
    {{ end }}
  </ul>
  {{ else }}
  <h1>{{ .Title }}</h1>
  <ul>
    {{ $taxonomy := .Data.Plural }}
    {{ range .Data.Terms.Alphabetical }}
    {{ $display := .Name }}
    {{ range first 1 .Pages }}
      {{ range index .Params $taxonomy }}
        {{ if eq (lower .) (lower $display) }}
          {{ $display = . }}
        {{ end }}
      {{ end }}
    {{ end }}
    <li><a href="{{ .Page.RelPermalink }}">{{ $display }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
</main>
{{ end }}
