{{ define "main" }}
<main>
  {{ $term := .Data.Term }}
  {{ $taxonomy := .Data.Plural }}
  {{ .Scratch.Set "display" $term }}
  {{ range first 1 .Pages }}
    {{ range index .Params $taxonomy }}
      {{ if eq (lower .) (lower $term) }}
        {{ $.Scratch.Set "display" . }}
      {{ end }}
    {{ end }}
  {{ end }}
  <h1>{{ .Scratch.Get "display" }}</h1>
  <ul>
    {{ range .Pages }}
    <li><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></li>
    {{ end }}
  </ul>
</main>
{{ end }}
