{{ define "main" }}
<main>
  {{ $taxonomy := .Data.Plural }}
  {{ $term := lower .Data.Term }}
  {{ $terms := index site.Taxonomies $taxonomy }}
  {{ $termPages := index $terms $term }}
  {{ $display := .Data.Term }}
  {{ range first 1 $termPages }}
    {{ range index .Page.Params $taxonomy }}
      {{ if eq (lower .) $term }}
        {{ $display = . }}
      {{ end }}
    {{ end }}
  {{ end }}
  <h1>{{ $display }}</h1>
  <ul>
    {{ range $termPages }}
    <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title | markdownify }}</a></li>
    {{ end }}
  </ul>
</main>
{{ end }}
