{{ range first 1 (where .Site.RegularPages "Date" "gt" (time.AsTime "0001-01-01")) }}
<!DOCTYPE html>
<html lang="{{ with .Params.language }}{{ . }}{{ else }}{{ .Site.LanguageCode }}{{ end }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
<main>
  {{ partial "content.html" . }}
</main>
{{ else }}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
<main>
  <p>{{ .Site.Params.emptyHomeText | default "No posts yet." }}</p>
</main>
{{ end }}
{{ partial "footer.html" . }}
</body>
</html>
